---
import { SITE_DESCRIPTION as desc, SITE_TITLE as title } from "../consts";
import "../index.css";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={desc} />
  <meta name="author" content={title} />
</head>
