@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  svg {
    max-height: 100%;
  }

  body {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .h1 {
    font-size: 2rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  .h3 {
    font-size: 1.25rem;
  }

  .h4 {
    font-size: 1rem;
  }

  .h5 {
    font-size: 0.875rem;
  }

  .h6 {
    font-size: 0.75rem;
  }

  .h00 {
    font-size: 4rem;
  }

  .h0 {
    font-size: 3rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  code,
  pre,
  samp {
    font-family: Source Code Pro, Consolas, monospace;
    font-size: inherit;
  }

  pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow-x: scroll;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  h6 {
    font-size: 0.75rem;
  }

  fieldset,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
  }

  label {
    vertical-align: middle;
  }

  input[type='date'],
  input[type='datetime-local'],
  input[type='datetime'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'] {
    height: 2.25rem;
    padding: 0.5rem 0.5rem;
    vertical-align: middle;
    -webkit-appearance: none;
  }

  select {
    line-height: 1.75;
    padding: 0.5rem 0.5rem;
  }

  select:not([multiple]) {
    height: 2.25rem;
    vertical-align: middle;
  }

  textarea {
    line-height: 1.75;
    padding: 0.5rem 0.5rem;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
  }

  th {
    text-align: left;
    font-weight: 700;
  }

  td,
  th {
    padding: 0.25rem 1rem;
    line-height: inherit;
  }

  th {
    vertical-align: bottom;
  }

  td {
    vertical-align: top;
  }

  body {
    color: #111;
    background-color: #fff;
  }

  a {
    color: #0074d9;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  code,
  pre {
    background-color: transparent;
    border-radius: 3px;
  }

  hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.125);
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Athelas, Georgia, serif;
  }

  a {
    color: #1dc355;
  }
}

@layer components {
  .h0 {
    font-family: Athelas, Georgia, serif;
    font-size: 3rem;
  }
  @media (min-width: 40em) {
    .h0 {
      font-size: 4.75rem;
    }
  }
  @media (min-width: 52em) {
    .h0 {
      font-size: 5rem;
    }
  }

  .narrow-container {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: inherit;
    overflow: visible;
    vertical-align: -0.125em;
    fill: currentColor;
  }
}

@layer utilities {
  .text-decoration-none,
  .text-decoration-none:hover {
    text-decoration: none;
  }

  .green-underline:hover {
    box-shadow: 0 2px #1dc355;
  }

  .bg-dusty-blue {
    background-color: #34495e;
  }

  .white {
    color: #fff;
  }

  .w-200px {
    width: 200px;
  }

  .lh-1p2 {
    line-height: 1.2;
  }

  @media (min-width: 52em) {
    .md-250px {
      width: 250px;
    }
  }
}
