---
import TheHomeHead from '@components/TheHomeHead.astro';
import TheHomeHeader from '@components/TheHomeHeader.astro';
import TheHomeMain from '@components/TheHomeMain.astro';
---

<!DOCTYPE html>
<html lang="en-US">
  <TheHomeHead />
  <body class="bg-dusty-blue px-8">
    <TheHomeHeader />
    <TheHomeMain />
  </body>
</html>
